#container{
    background-color: #c3c3c3;
    padding: .5em;
}
div[id*="set"]{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 5px;
}
.canva{
    border: 10px;
    border-color: #000;
    background: #fff;
}